body {
  padding: 0;
  margin: 0;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .intro {
  }

  .welcome {
  }

  .table {
    font-size: 20px;

    table {
      background-color: purple;
      margin: 5px;
      border-radius: 0px 0px 20px 20px;
      color: white;

      th {
        color: white;
        background-color: rgb(85, 0, 85);
      }

      tr {
        border-radius: 10px;
      }

      td {
        border-radius: 20px 0px 0px 20px;
        width: 50%;
        text-align: center;
        padding: 20px;
      }

      th,
      td,
      .examples {
        padding: 8px;
        text-align: left;
        border-bottom: 3px solid rgb(244, 141, 14);
      }

      tr:hover {
        background-color: rgb(160, 93, 154);
      }

      .route {
        border-radius: 20px 0px 0px 20px;
      }

      .desc {
        border-radius: 0px 20px 20px 0px;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .examples {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        color: white;
      }
    }
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
  background-color: purple;

  a {
    color: white;
    display: flex;
    justify-content: center;
    margin: 10px;
  }

  img {
    width: 200px;
  }

  .links {
    display: flex;
  }
}
