.character,
.stand {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
  height: 250px;
  width: 200px;
  border: 1px solid red;

  img {
    width: 30%;
    height: 50%;
    object-fit: contain;
    margin: 0;
    padding: 0;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.details {
  display: flex;
  height: auto;

  img {
    width: 20%;
    margin: 10%;
    object-fit: contain;
  }
}

.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid purple;
  border-radius: 20px;
  padding: 2rem;
  height: 80vh;

  p {
    padding: 0;
    margin: 5px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  button {
    margin: 5px;
  }
}

.wrapper {
  h1 {
    text-align: center;
    text-decoration: underline;
  }
}
