.character,
.stand {
  display: grid;
  grid-template-rows: 10% auto auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 5px;
  height: 17rem;
  width: 200px;
  border: 2px solid red;

  img {
    height: 10rem;
    width: 12rem;
    object-fit: contain;
    place-self: center;
    margin: 0;
    padding: 0;
  }

  p {
    margin: 5px;
  }
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}

.detailWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.details {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  padding: 10%;
  max-width: 1000px;
  min-width: 500px;

  img {
    width: 40%;
    margin: 5%;
    object-fit: contain;
  }
}

.detailInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid purple;
  border-radius: 20px;
  padding: 2rem;
  width: 40%;

  p {
    padding: 0;
    margin: 5px;
  }
}

.buttons {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 5px;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  button {
    margin: 5px;
  }
}

.wrapper {
  h1 {
    text-align: center;
    text-decoration: underline;
  }
}
